body{
margin:0 0 0 6px;
}
#header{
width:100%;
display:table;
background-color:#000;
height:15%;
}
#header span{
padding-left:30px;
display:table-cell;
vertical-align: middle;
font-weight:bold;
color:#fff;
font-size:20pt;
}
#menu{
border-bottom:2px solid #f00;
}
#menu a{
text-decoration:none;
color:#000;
}
#menu ul li{
margin-left:20px;
display:inline;
}
#sol{
height:70%;
width:20%;
padding-left:1%;
float: left;
display: inline-block;

}
#sag{
background-color:#ddd;
width:79%;
height:70%;
float:left;
}
#sag #content{
padding-left:20px;
}
#footer{
border-top:2px solid #f00;
clear:both;
}
#footer span{
position:relative;
top:10px;
padding:10px;
}
#ustResim{
  border:5px solid #f00;
  z-index:1;
  position:relative;
  top: -197px;
  left: 142px;
  height: 250px;
  width: 430px;
}
#altResim{
  border:5px solid #f00;
  position:relative;
  z-index:2;
  top: -20px;
  left: -124px;
  height: 250px;
  width: 430px;
}
